nav
  background: $dark-grey url('/images/shattered-island.gif')
  height: 100%
  right: 0
  top: 0
  width: rem(300)

  a
    color: $white
    text-decoration: none

    &:hover
      text-decoration: underline
